<aside id="sidebar">
  <a href="/why-mentor.html" class="button document">Why Mentoring?</a>
  <a href="/guidelines.html" class="button document">Mentoring Guidelines</a>
  <a href="https://github.com/phpmentoring/phpmentoring.github.com/wiki/HOWTO" class="button document">
    HOWTO
  </a>
  <a href="https://github.com/phpmentoring/phpmentoring.github.com/wiki/Apprentices" class="button document" target="_blank">
    Sign Up
  </a>
  <a href="http://webchat.freenode.net?channels=phpmentoring&uio=MTE9MjI2dd" class="button discussion" title="#phpmentoring on irc.freenode.net" target="_blank">
    Join Us On IRC
  </a>
</aside>
